.App {
  text-align: center;
  margin-bottom: 50px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.nav-button{
  margin-left:10px;
}

.form-div{
  width:500px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 50px;
  margin-top: 50px;
  border-width: thick;
  border-style: groove;
  border-color:#2d53cf;
}

.inner-form{
  padding: 30px;
}

.jumbotron{
    background: no-repeat center center;
    background-size: cover;
    min-height: 425px;
   
}

.jumbotron-img {
  filter: opacity(0.5);
  position: relative;
}

.jumbotron-text{
  color: white;
  position: absolute; 
  bottom:0;
  float: right;
}


.card-title{
  font-weight: 700;
  font-size: large;
}



.back-button{
  margin-left: 0.5rem;
}

.menu-item {
  padding: 0 40px;
  margin: 5px 10px;
  user-select: none;
  cursor: pointer;
  border: none;
}
.menu-item-wrapper.active {
  border: 1px blue solid;
}
.menu-item.active {
  border: 1px green solid;
}
 
.scroll-menu-arrow {
  padding: 20px;
  cursor: pointer;
}

h1 {
  margin-left: 10px;

}

.card-div{
  width: 300px;
  height: 520px;
  position: relative;
  margin-bottom: 10px;
}


#button-div{
  position: absolute;
  bottom: 10px;
  right: 20px;
  left: 20px;
}

.logo{
  height: 10px;
  width: 10px;
}



.password-warning{
  color:red;
  font-size: smaller;
  margin-top: 2px;
  text-align: center;
}

#prof-page-avatar{

  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 50%;
  margin-top:10px;
  margin-bottom:10px;
}

#purchase-class-button{
  margin-bottom: 7px;
}


#react-player{
  padding:10px;
  position: absolute;
  left: 70px;
  right: 70px;
  top: 80px;
}

.show-page-content{
  margin-right: auto;
  margin-left: auto;
  width: 50%;
  padding:10px;
}

#top-left-button{
  background: lightskyblue;
  margin-top: 20px;
  margin-bottom: 20px;
  position: absolute;
  width: 200px;
  height: 200px;
  left: 350px;
  top: 10px;
  font-size: 35px;
  padding: 40px 0;
}

#top-right-button{
  background: cornflowerblue;
  margin-top: 20px;
  margin-bottom: 20px;
  position: absolute;
  width: 200px;
  height: 200px;
  right: 350px;
  top: 10px;
  font-size: 35px;
  padding: 40px 0;
}

#bottom-left-button{
  background: slateblue;
  margin-top: 20px;
  margin-bottom: 20px;
  position: absolute;
  width: 200px;
  height: 200px;
  bottom: 10px;
  left: 350px;
  font-size: 35px;
  padding: 40px 0;
  padding-right: 4px;
}

#bottom-right-button{
  background: mediumblue;
  margin-top: 20px;
  margin-bottom: 20px;
  position: absolute;
  width: 200px;
  height: 200px;
  bottom: 10px;
  right: 350px;
  font-size: 35px;
  padding: 40px 0;
}

.container-sm{
  margin-top: 20px;
  margin-bottom: 20px;
  width: 200px;
  height: 500px;
  position: relative
}

#top-left-button:hover {
  background-color: deepskyblue;
}
#top-right-button:hover {
  background-color: royalblue;
}
#bottom-left-button:hover {
  background-color: darkslateblue;
}
#bottom-right-button:hover {
  background-color: darkblue;
}

.card-div{
  width: 300px;
  height: 520px;
  position: relative;
  margin-bottom: 10px;
}

.card-image{
  object-fit: contain;
}

#show-page{
  width: 800px;
  height: 500px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
  margin-top: 20px;
  border-width: 10px;
  border-style: groove;
  border-color:#2d53cf;
  border-radius: 25px;
  padding: 20px;
}

#instructor-img{
  position: absolute;
  left: 35px;
  width: 400px;
  height: 400px;
  max-height: 350px;
  top: 110px;
  object-fit: contain;
  border-color: lightgray;
  border-style: solid;
}

#class-info{
  position: absolute;
  width: 260px;
  right: 35px;
  top: 110px;
  margin: 10px;
}

#purchase-class{
  position: absolute;
  right: 120px;
  bottom: 30px;
  margin: 10px;
  font-family: "Arial Black", Gadget, sans-serif;
}

#price{
  margin-bottom: 30px;
  font-size: 25px;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

#description-title{
  white-space: pre-line;
  font-size: 25px;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

#class-style{
  position: absolute;
  left: 50px;
  right: 50px;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  text-align: center;
}

#description{
  font-size: 22px;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.btn{
  font-family: "Trebuchet MS", Helvetica, sans-serif
}

h2{
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  margin-bottom: 30px;
}

h1{
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  margin-bottom: 30px;
}

.scroll-div-img{
  width: 320px;
  height: 320px;
  object-fit: cover;
}

.horizontal-menu{
  margin-top: 20px;
}

#about-div{
  margin-bottom: 50px;
  margin-top: 30px;
  border-width: 10px;
  border-style: groove;
  border-color:#2d53cf;
  border-radius: 25px;
  width: 50%;
  margin-right: auto;
  margin-left: auto;
  height: 250px;
  padding-top: 30px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 50px;

}

#about-blurb{
  text-align: center;
  font-size: 20px;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}